[Unit]
Description=File notification system
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/daniel/notisys/notisys -o open,close /home/daniel/

[Install]
WantedBy=multi-user.target
